body {
    background-color:antiquewhite;
}
.buttons {
    margin-top: 25%;
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.button {
    font-family: 'Exo', sans-serif;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 15px;
    background-color: rgb(75, 135, 155);
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 200px;
}

.button:after {
    content: "";
    background-color: rgba(15, 77, 97,0.95);
    border-radius: 50%;
    transition: width 1s ease, height 1s ease;
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    height: 0px;
    width: 0px;
    z-index: 1;
}

.button:hover::after
{
    height: 250px;
    width: 250px;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: burlywood; /* Цвет фона */
    color: black; /* Цвет текста */
    width: 100%; /* Ширина слоя */